build
build.log
DerivedData/
**/openai_whisper-large-v3_turbo_954MB/
**/openai_whisper-large-v3_turbo_632MB/
**/openai_whisper-large-v3-v20240930_turbo_632MB/
.claude/
**/xcuserdata/
*.xcuserstate
.DS_STORE
*.DS_STORE
